<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited your number from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.telephone_field :phone_number, :class => "form-control input-lg text-center", :placeholder => "digits only (1111231234)", :required => "required" %>
  </div>

  <div class="actions form-group">
    <%= f.submit "Add your number", :class => "btn btn-lg btn-primary" %>
  </div>
<% end %>
